/*header*/
.heading{
    background-color: #2F3C7E;
}



/*content*/
main{
    background-color: #FBEAEB;
}

.form{
    padding-bottom: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}

/*footer*/
footer{
    background-color:  #2F3C7E;
}

.footText{
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    padding: 1%;
}